<% if teacher? %>
  <%= link_to 'Back', flashcard_homework_path(@flashcard_homework), class: "our-btn btn-peach m-2" %>
  <div class="container mb-5">
    <div class="d-flex mb-3" style="align-items: center;">
      <% if @student_flashcard_set.student.user.profile_photo? %>
        <%= cl_image_tag student.user.photo.key, height: 56, width: 56, crop: :thumb, gravity: :face, class: "avatar-large" %>
      <% else %>
        <%= icon('fas', 'user-circle', class: 'avatar-large avatar-large-icon') %>
      <% end %>
      <div style="flex-grow: 1;">
        <p style="margin: 0 20px;"><%= @student_flashcard_set.student.first_name %> <%= @student_flashcard_set.student.last_name %></p>
      </div>
      <%= link_to 'Done', flashcard_homework_path(@flashcard_homework), class: "our-btn btn-marine m-2" %>
    </div>

    <div>
      <% if !@flashcard_homework.sent %>
        <button type="button" class="btn our-btn btn-outline-marine" data-toggle="modal" data-target="#exampleModal">
          Create new flashcard
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Flashcard Creator</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              <%= render "student_flashcards/new",
                  student_flashcard_set: @student_flashcard_set,
                  student_flashcard: @student_flashcard %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row">
      <% @student_flashcards.order(:updated_at).each do |sf| %>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card my-3">
            <div>
              <% if !@flashcard_homework.sent %>
                <p><strong><%= sf.question %></strong></p>
                <p><%= sf.answer %></p>
                <%= link_to edit_student_flashcard_set_student_flashcard_path(@student_flashcard_set, sf), class: "icon-link" do %>
                  <i class="fas fa-pencil-alt txt-link-marine"></i>
                <% end %>
                <%= link_to student_flashcard_set_student_flashcard_path(@student_flashcard_set, sf),
                    method: :delete,
                    data: { confirm: "Are you sure you want to delete this flashcard?" } do %>
                    <i class="fas fa-trash-alt txt-link-marine"></i>
                <% end %>
              <% elsif @student_flashcard_set.submitted %>
                <p><strong><%= sf.question %></strong></p>
                <p><%= sf.student_answer %></p>
                <% if sf.feedback.nil? %>
                  <%= link_to 'Add feedback', edit_student_flashcard_set_student_flashcard_path(@student_flashcard_set, sf), class: "our-btn btn-marine"%>
                <% else %>
                  <p style="color: darkgrey;"><em><%= sf.feedback %></em></p>
                <% end %>
              <% else %>
                <p><strong><%= sf.question %></strong></p>
                <p><%= sf.answer %></p>
                <p style="color: darkgrey;"><em>Waiting for Student's answer</em></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <%= link_to 'Back', student_flashcard_sets_path, class: "our-btn btn-peach m-2" %>
  <div class="container mb-5">
    <div class="d-flex">
      <h1 style="display: inline-block; flex-grow: 1;"><%= @flashcard_homework.name %></h1>
      <% if !@student_flashcard_set.submitted %>
        <% if @ready %>
          <%= link_to flop_submit_student_flashcard_set_path(@student_flashcard_set), class: "our-btn btn-marine my-2" do %>
            Submit  <i class="far fa-paper-plane"></i>
          <% end %>
        <% else %>
          <div class="our-btn btn-marine btn-marine-blocked my-2">Submit  <i class="far fa-paper-plane"></i></div>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <% @student_flashcards.order(:updated_at).each do |sf| %>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card my-3">
            <p><strong><%= sf.question %></strong></p>
            <% if sf.student_answer.nil? %>
              <%= link_to 'Answer', edit_student_flashcard_set_student_flashcard_path(@student_flashcard_set, sf), class: "our-btn btn-marine"%>
            <% else %>
              <p><%= sf.student_answer %></p>
            <% end %>
            <% if !sf.feedback.nil? %>
              <p style="color: darkgrey; margin: 0;"><em>Teacher's feedback:</em></p>
              <p style="color: darkgrey;"><em><%= sf.feedback %></em></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

