<div class="container my-5">
  <h3 style="text-align: center; color: #0081a7;"> Welcome to Your Student Profile </h3>
  <div class="row mt-5">
    <div class="col-12 col-lg-4">
      <div class="d-flex" style="align-items: center;">
        <div style="width: 150px; margin-right: 20px;">
          <% if current_user.profile_photo? %>
            <%= cl_image_tag current_user.photo.key, height: 150, width: 150, crop: :thumb, gravity: :face, class: "avatar-xl" %>
          <% else %>
            <i class="fas fa-user-circle" style="font-size: 150px; color: #0081a7;"></i>
          <% end %>
        </div>
        <div style="max-width: 250px;">
          <h5><%= @student.first_name %> <%= @student.last_name %></h5>
          <p><%= current_user.email %></p>
          <%= link_to 'Edit Profile', edit_user_registration_path, class: "our-btn btn-outline-marine" %>
        </div>
      </div>
      <br>
      <h4><%= pluralize @student.groups.size, 'Class' %></h4>
      <% @student.groups.each do |group| %>
        <div class="card-box" style="margin-top: 0.7em">
            <i class="fas fa-chalkboard-teacher" style="font-size: 30px; margin-right: 16px;"></i>
            <div class="card-box-infos">
              <h6><%= group.class_name %></h6>
              <%= link_to student_students_group_path(@student, @students_groups.find_by(group: group)),
                method: :delete,
                data: { confirm: "Are you sure you want to leave this class?" }, class: "txt-link-marine" do %>
                <p>Leave the class <i class="fas fa-sign-out-alt"></i></p>
              <% end %>
            </div>
        </div>
      <% end %>

      <br>
      <%= simple_form_for [@student, @students_group] do |f| %>
        <%= f.association :group, input_html: { class: "beautiful-dropdown" }, include_hidden: false, label: 'Choose a Class', input_html: {style: 'max-width: 250px;'} %>
        <%= f.submit "Join Class", class: "btn our-btn btn-outline-marine" %>
      <% end %>
    </div>

    <div class="col-12 col-lg-8">
      <h4> Homework Manager </h4>
      <% if !@notifications.empty? %>
        <% @notifications.each do |notification| %>
          <% if notification.action == 'sent' %>
            <div class="notification">
              <div>
                <i class="fas fa-clipboard-list" style="font-size: 36px; color: #fed9b7;"></i>
              </div>
              <div class="notification-content">
                <p><small><%= notification.created_at.strftime("%A, %d %B") %></small></p>
                <p><%= "#{notification.actor.teacher.first_name} #{notification.actor.teacher.last_name}" %> <strong>sent homework</strong><%= notification.object.due_date.nil? ? '' : notification.object.due_date.strftime(', due on %d/%m/%Y') %></p>
              </div>
              <div class="notification-actions">
                <%= link_to student_flashcard_set_path(notification.object.student_flashcard_sets.find_by(student: current_student)) do %>
                  Solve <i class="fas fa-pencil-alt"></i>
                <% end %>
              </div>
            </div>
          <% elsif notification.action == 'feedback' %>
            <!-- this is all wrong -->
            <div class="notification">
              <div>
                <i class="fas fa-clipboard-check" style="font-size: 36px; color: #00afb9;"></i>
              </div>
              <div class="notification-content">
                <p><small><%= notification.created_at.strftime("%A, %d %B") %></small></p>
                <%= "#{notification.actor.teacher.first_name} #{notification.actor.teacher.last_name}" %> gave you <strong>feedback</strong> on <%= "#{notification.object.flashcard_homework.name}" %>
              </div>
              <div class="notification-actions">
                <%= link_to student_flashcard_set_path(notification.object) do %>
                  Read <i class="fas fa-book-open"></i>
                <% end %>
              </div>
            </div>
            <!-- untill here -->
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

