<div class="container my-5">
  <h3 style="text-align: center; color: #0081a7;"> Welcome to Your Student Profile </h3>
  <div class="row mt-5">
    <div class="col-12 col-lg-4">
      <div class="d-flex" style="align-items: center;">
        <div style="width: 150px; margin-right: 20px;">
          <% if current_user.profile_photo? %>
            <%= cl_image_tag current_user.photo.key, height: 150, width: 150, crop: :thumb, gravity: :face, class: "avatar-xl" %>
          <% else %>
            <i class="fas fa-user-circle" style="font-size: 150px; color: #0081a7;"></i>
          <% end %>
        </div>
        <div style="max-width: 250px;">
          <h5><%= @student.first_name %> <%= @student.last_name %></h5>
          <p><%= current_user.email %></p>
          <%= link_to 'Edit Profile', edit_user_registration_path, class: "our-btn btn-outline-marine" %>
        </div>
      </div>
      <br>
      <h4><%= pluralize @student.groups.size, 'Class' %></h4>
      <% @student.groups.each do |group| %>
        <div class="card-box" style="margin-top: 0.7em">
            <i class="fas fa-chalkboard-teacher" style="font-size: 30px; margin-right: 16px;"></i>
            <div class="card-box-infos">
              <h6><%= group.class_name %></h6>
              <%= link_to student_students_group_path(@student, @students_groups.find_by(group: group)),
                method: :delete,
                data: { confirm: "Are you sure you want to leave this class?" }, class: "txt-link-marine" do %>
                <p>Leave the class <i class="fas fa-sign-out-alt"></i></p>
              <% end %>
            </div>
        </div>
      <% end %>

      <br>
      <%= simple_form_for [@student, @students_group] do |f| %>
        <%= f.association :group, input_html: { class: "beautiful-dropdown" }, include_hidden: false, label: 'Choose a Class', input_html: {style: 'max-width: 250px;'} %>
        <%= f.submit "Join Class", class: "btn our-btn btn-outline-marine" %>
      <% end %>
    </div>

    <div class="col-12 col-lg-8">
      <h4> Homework Manager </h4>
      <div class="notification">
        <i class="fas fa-clipboard-list" style="font-size: 36px; color: #fed9b7;"></i>
        <div class="notification-content">
          <p><small>14th January</small></p>
          <p>Economics <strong>flashcards</strong> 20 cards set</p>
        </div>

        <div class="notification-actions">
          <a href="#">Solve <i class="fas fa-pencil-alt"></i></a>
          <a href="#">Archive <i class="far fa-trash-alt"></i></a>
        </div>
      </div>

      <div class="notification">
        <i class="fas fa-clipboard-list" style="font-size: 36px; color: #fed9b7;"></i>
        <div class="notification-content">
          <p><small>9th January</small></p>
          <p>Chemistry <strong>quiz</strong> 30 questions</p>
        </div>

        <div class="notification-actions">
          <a href="#">Solve <i class="fas fa-pencil-alt"></i></a>
          <a href="#">Archive <i class="far fa-trash-alt"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

