<div class="container">
  <% @subjects.order(:subject_name).each do |subject| %>
    <div class="my-5">
      <h1><%= subject.subject_name %></h1>
      <%= simple_form_for @topic do |f| %>
        <%= f.input :topic_name, label: "New topic's name" %>
        <%= f.input :subject_id, as: :hidden, input_html: { :value => subject.id } %>
        <%= f.submit 'Create new topic', class: "btn btn-dark" %>
      <% end %>
      <% subject.topics.order(:topic_name).each do |topic| %>
        <p>
          <%= topic.topic_name %>
          <%= link_to topic_path(topic),
            method: :delete,
            data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
