<%= link_to 'Back', groups_path, class: "our-btn btn-peach m-2" %>
<div class="container mb-5">
  <h1><%= @group.class_name %></h1>
  <% @group.students.order(:first_name).each do |student| %>
    <div class="card card-horizontal my-3">
      <div class="card-horizontal-parcel">
        <% if student.user.profile_photo? %>
          <%= cl_image_tag student.user.photo.key, height: 40, width: 40, crop: :thumb, gravity: :face, class: "avatar" %>
        <% else %>
          <%= icon('fas', 'user-circle', class: 'avatar avatar-icon') %>
        <% end %>
      </div>
      <div class="card-horizontal-parcel card-horizontal-center">
        <p><%= student.first_name %> <%= student.last_name %></p>
      </div>
      <div class="card-horizontal-parcel">
        <%= link_to 'See progress', "#", class: "our-btn btn-outline-marine" %>
      </div>
    </div>
  <% end %>
</div>
