<div class="container my-5">
  <h3 style="text-align: center; color: #0081a7;"> Welcome to Your Teacher Profile </h3>

  <div class="row mt-5">
    <div class="col-12 col-lg-4 mb-5">
      <div class="d-flex" style="align-items: center;">
        <div style="width: 150px; margin-right: 20px;">
          <% if current_user.profile_photo? %>
            <%= cl_image_tag current_user.photo.key, height: 150, width: 150, crop: :thumb, gravity: :face, class: "avatar-xl" %>
          <% else %>
            <i class="fas fa-user-circle" style="font-size: 150px; color: #0081a7;"></i>
          <% end %>
        </div>
        <div style="max-width: 250px;">
          <h5><%= @teacher.first_name %> <%= @teacher.last_name %></h5>
          <p><%= current_user.email %></p>
          <%= link_to 'Edit Profile', edit_user_registration_path, class: "our-btn btn-outline-marine" %>
        </div>
      </div>
      <br>

      <h4><%= pluralize @teacher.subjects.size, 'Subject' %></h4>
      <% @teacher.subjects.each do |subject| %>
        <div class="card-box" style="margin-top: 0.7em">
          <i class="fas fa-graduation-cap" style="font-size: 30px; margin-right: 16px;"></i>
          <div class="card-box-infos">
            <p>
              <%= subject.subject_name  %>
              <%= link_to teacher_teacher_subject_path(@teacher, @teacher_subjects.find_by(subject: subject)),
                method: :delete,
                data: { confirm: "Are you sure?" } do %>
                <i class="fas fa-trash-alt txt-link-marine"></i>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
      <br>

      <%= simple_form_for [@teacher, @teacher_subject] do |f| %>
      <%= f.association :subject, label_method: :subject_name, collection: @subjects, label: 'Add a new subject', input_html: {style: 'max-width: 250px;'} %>
      <%= f.submit 'Add Subject', class: "btn our-btn btn-outline-marine" %>
      <% end %>
    </div>

    <div class="col-12 col-lg-8">
      <% if @notifications.empty? %>
        <div class="mb-3">
          <h4> Homework Manager </h4>
        </div>
      <% else %>
        <div class="d-flex mb-3">
          <h4 style="flex-grow: 1;"> Homework Manager </h4>
          <%= link_to mark_as_read_notifications_path, class: "our-btn btn-peach" do %>
            Clear all <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
        <div data-behavior="notifications-counter">
          <span id="counter" class="notifications text-center"></span>
          <div id="notifications">
            <% @notifications.each do |notification| %>
              <% if notification.action == 'submit' %>
                <%= render 'notifications/teachers/submit', notification: notification %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

