<div class="container my-5">
  <h1>Edit the flashcard</h1>

  <%= simple_form_for [@flashcard_set, @flashcard_template] do |f| %>
    <%= f.input :question %>
    <%= f.input :answer %>
    <div>
      <%= f.submit 'Update', class: 'our-btn btn-marine mr-2' %>
      <%= link_to 'Cancel', flashcard_set_path(@flashcard_set), class: 'our-btn btn-salmon' %>
    </div>
  <% end %>
</div>
