<div class="container mt-5">
  <h1>Flashcards</h1>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card flashcard_sets_card my-3">
        <h2>Create a new flashcard set</h2>
        <%= simple_form_for @flashcard_set do |f| %>
          <%= f.input :name, label: "What's this new flashcard set about?" %>
          <%= f.submit 'Create new flashcard set', class: 'btn btn-dark' %>
        <% end %>
      </div>
    </div>

    <% @flashcard_sets.order(updated_at: :desc).each do |fs| %>
      <div class="col-12 col-md-6 col-lg-4">
        <%= link_to flashcard_set_path(fs), class: "flashcard-link" do %>
          <div class="card flashcard_sets_card flashcard-sets-card-grow my-3">
            <div class="flashcard_sets_card_infos">
              <h2><%= fs.name %></h2>
              <p><%= pluralize fs.flashcard_templates.size, 'flashcard' %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
