<%= link_to 'Back', flashcard_set_path(@flashcard_set), class: "btn btn-outline-dark m-2" %>
<div class="container">
  <h1>Set homework</h1>
  <%= simple_form_for [@flashcard_set, @flashcard_homework] do |f| %>
    <%= f.input :name, input_html: { value: "#{@flashcard_set.name} #{DateTime.now.strftime("on %d/%m/%Y")}" } %>
    <%= f.association :group, label: 'Class', collection: @groups %>
    <%= f.input :due_date, as: :date, html5: true %>
    <%= f.submit 'Create new homework', class: 'btn btn-dark' %>
  <% end %>
</div>
