<%= link_to 'Back', flashcard_homeworks_path, class: "our-btn btn-peach m-2" %>
<div class="container mb-5">
  <div class="d-flex">
    <h1 style="flex-grow: 1; display: inline-block;"><%= @flashcard_homework.name %></h1>
    <% if !@flashcard_homework.sent %>
      <%= link_to flop_send_flashcard_homework_path(@flashcard_homework), class: "our-btn btn-marine m-2" do %>
        Send  <i class="far fa-paper-plane"></i>
      <% end %>
      <%= link_to flashcard_homeworks_path, class: "our-btn btn-outline-marine my-2" do %>
        Save draft  <i class="far fa-save" style="font-size: 18px;"></i>
      <% end %>
    <% end %>
  </div>
  <% if @flashcard_homework.due_date %>
    <p>Due on <%= @flashcard_homework.due_date.strftime("%d/%m/%Y") %></p>
  <% end %>
  <h3><%= @flashcard_homework.group.class_name %></h3>
  <% @students.order(:first_name).each do |student| %>
    <div class="card my-3">
      <div class="d-flex mb-3" style="align-items: center;">
        <div class="card-horizontal-parcel">
          <% if student.user.profile_photo? %>
            <%= cl_image_tag student.user.photo.key, height: 40, width: 40, crop: :thumb, gravity: :face, class: "avatar" %>
          <% else %>
            <%= icon('fas', 'user-circle', class: 'avatar avatar-icon') %>
          <% end %>
        </div>
        <div class="card-horizontal-parcel card-horizontal-center">
          <p><%= student.first_name %> <%= student.last_name %></p>
        </div>
        <% if !@flashcard_homework.sent %>
          <%= link_to 'Personalise', student_flashcard_set_path(@student_flashcard_sets.find_by(student: student)), class: "our-btn btn-teal"%>
        <% elsif @student_flashcard_sets.find_by(student: student).submitted %>
          <%= link_to 'Check answers', student_flashcard_set_path(@student_flashcard_sets.find_by(student: student)), class: "our-btn btn-marine" %>
        <% else %>
          <%= link_to 'See flashcards', student_flashcard_set_path(@student_flashcard_sets.find_by(student: student)), class: "our-btn btn-teal" %>
        <% end %>
      </div>
      <div class="d-flex" style="overflow: scroll;">
        <% @student_flashcard_sets.find_by(student: student).student_flashcards.order(updated_at: :desc).each do |flashcard| %>
          <div class="card" style="width: 300px; min-width: 300px; margin-right: 16px;">
            <p><strong><%= flashcard.question %></strong></p>
            <% if !@flashcard_homework.sent %>
              <p><%= flashcard.answer %></p>
            <% elsif flashcard.student_flashcard_set.submitted %>
              <p><%= flashcard.student_answer %></p>
            <% else %>
              <p style="color: darkgrey;"><em>Waiting for Student's answer</em></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
