<div class="chart-container">
  <div id="chart-<%= query.id %>" class="chart">
    <p class="text-muted">Loading...</p>
  </div>
</div>

<script>
  <%= blazer_js_var "rootPath", blazer.root_path %>
  <%= blazer_js_var "data", {statement: query.statement, query_id: query.id, data_source: query.data_source, only_chart: true} %>
  runQuery(data, function (data) {
    $("#chart-<%= query.id %>").html(data)
    $("#chart-<%= query.id %> table").stupidtable(stupidtableCustomSettings)
  }, function (message) {
    $("#chart-<%= query.id %>").addClass("query-error").html(message)
  });
</script>
